/* #region Общие переменные */
$checkbox-name: 'checkbox' !default;
/* #endregion*/

$checkbox-background: #fff !default;
$checkbox-borderColor: #000 !default;

$checkbox-width: 20px !default;
$checkbox-height: 20px !default;

$checkbox-indicator-background: #000 !default;
$checkbox-indicator-width: 18px !default;
$checkbox-indicator-height: 18px !default;

$checkbox-indicator-icon-width: 3px !default;
$checkbox-indicator-icon-height: 8px !default;
